@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

/* ----------- RESET CSS ----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ----------- SET 1rem == 10px ----------------*/
:root {
    font-size: 62.5%;
}

/* ----------- CONFIG BODY ----------------*/
body {
    background: #171717;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    color: #FFF;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/* ----------- GLOBALS CLASSES ----------------*/
.title-text {
    font-weight: 600;
    font-size: 4.8rem;
}

.paragraph-text {
    font-size: 2.2rem;
}

.button {
    background: #C21E6F;
    border-radius: 1rem;
    border: none;
    padding: 2.4rem 2.5rem;

    color: #FFF;
    font-size: 2.2rem;

    cursor: pointer;
}

/* ----------- HEADER----------------*/
header {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.9rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo h3 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.logo h3 span {
    color: #C21E6F;
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    list-style-type: none;
}

.menu li a{
    color: #FFF;
    font-size: 2rem;
}

.menu li a:hover {
    color: #C21E6F;
    transition: .5s;
}

/* ----------- CONFIG MAIN CONTENT ----------------*/
main {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------- SECTION HOME ----------------*/
section.home {
    display: flex;
    align-items: center;
    gap: 5rem;
    height: 100vh;
}

section.home .content {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

section.home .content h1{
    font-weight: 700;
    font-size: 10rem;
    line-height: 10rem;
}

section.home .content p {
    color: #efede8a6;
}

section.home .content button {
    width: 19rem;
    height: 7.8rem;
}

/* ----------- CONFIG SECTIONS ----------------*/
section#about,
section#plans,
section#trainers,
section#see-more,
section#contact,
section#localization {
    width: 80%;
    padding-top: 2.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    margin-top: 10rem;
}

/* ----------- SECTION ABOUT ----------------*/
section#about .content-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#about .content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#about .content ul {
    list-style: url(assets/check.svg);
    margin-right: 20rem;
}

section#about .content ul li {
    font-size: 2.2rem;
    text-align: center;
    line-height: 3rem;
    margin-left: 3rem;
}

section#about .content button {
    width: 27rem;
}

/* ----------- SECTION PLANS ----------------*/
section#plans .content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#plans .content .text-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

section#plans .content .text-content button {
    width: 27rem;
}

/* ----------- SECTION TRAINERS ----------------*/
section#trainers .content {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

section#trainers .content .trainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

section#trainers button {
    width: 60rem;
    text-transform: uppercase;
}

/* ----------- SECTION SEE-MORE ----------------*/
section#see-more .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#see-more .content .content-text{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section#see-more .content .content-text p{
    font-size: 1.4rem;
    color: #EFEDE8;
}

section#see-more .content .content-text a{
    display: flex;
    align-items: center;
    gap: 1rem;

    color: #C21E6F;
    font-weight: 600;

    width: fit-content;
}

/* ----------- SECTION CONTACT ----------------*/
section#contact .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#contact .content .content-text {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section#contact .content .content-text form input {
    width: 50%;
    height: 5rem;
    padding-left: 2rem;

    border: none;
    border-radius: 1rem;
}

section#contact .content .content-text form button {
    width: 40%;
    height: 5rem;
    padding: 0;
    margin-left: 2rem;
}

/* ----------- SECTION LOCALIZATION ----------------*/
footer {
    width: 100%;
    padding: 7rem;
}
footer .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .content .content-text label {
    display: flex;
    align-items: center;

    color: #EFEDE8;
    margin-bottom: 1rem;
}

footer .content .content-text p {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}